*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color:black;
    

}
section{
    height: 100%;
    width: 350px;
   background-color: black;
   border-radius: 10px;
   position: relative;
   display: flex;
   flex-direction: column;
  margin:auto;

}
.allreels{
    height: 100%;
    width: 100%;
   position:absolute;
   overflow: auto;
   scroll-snap-type: y mandatory;
   scroll-behavior: smooth;
}
   

.allreels::-webkit-scrollbar{
    display: none;
}
.reel{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: lightblue;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.reel .bottom{
    width: 100%; 
    background: linear-gradient(transparent , rgba(42, 41, 41, 0.853) );
    position: absolute;
    bottom: 0;
    padding: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}
.id{
    display: flex;
    flex-direction: row;
text-align: center;
align-items: center;
    
}
.id .profile img{
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;

}
.id h4{
    font-size: 12px;
    color: white;
    font-weight: 500;
   
}

.id button{
    font-size: 12px;
    font-weight: 500;
    color:white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 4px;
    margin-left: 5px;
    cursor: pointer
}

.title p{
    font-size: 15px;
    color: white;
}

 .reel .right{
    width: 50px;
    color: white;
    position: absolute;
    padding: 10px;
    right: 0;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* transform: translate(100%); */
    background: linear-gradient( to left transparent , black ,transparent);

   
}
.rightgg>i{
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;

}

/* .right .like-icon{
    background-color: rgba(120, 120, 120, 0.233);
    border-radius: 50%;
    padding: 6px;
    outline: none;

}

.right .comment-icon{
    background-color: rgba(120, 120, 120, 0.233);
    border-radius: 50%;
    padding: 6px;
    outline: none;

    
}
.right .share-icon{
    background-color: rgba(120, 120, 120, 0.233);
border-radius: 50%;
padding: 6px;
outline: none;

    
}
.right .remix-icon{
    background-color: rgba(120, 120, 120, 0.233);
    border-radius: 50%;
    padding: 6px;
    outline: none;

    
}
.right .menu-icon{
    background-color: rgba(120, 120, 120, 0.233);
    border-radius: 50%;
    padding: 6px;
    outline: none;
    
} */

.right h6{
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.right>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}


.love{
    color: red;
}


.right>div h4{
    pointer-events: none;
}

.right>div h6{
    pointer-events: none;
}


.mute{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.mute i{
    color: white;
    font-size: 20px;
    font-weight: 500;
    pointer-events: none;
}
.mute:active{
    scale: 0.95;
}